body {
	background-color: lightgrey;
	position: relative;
	overflow-x: hidden;
}

.salm {
	text-align: center;
}

iframe {
	display: block;
	margin: 30px auto;
}

h1 {
	text-align: center;
}

.menu {
	height: 100%;
	background-color: grey;
	position: fixed;
	width: 285px;
	left: -285px;
	margin: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 200;
}

.menu ul {
	list-style: none;
	margin: 10px 0px 0px 0px;
	padding: 0px;
}

.menu li {
	border-bottom: 1px solid lightgrey;
	padding: 10px 0px 10px 20px;
}

.menu a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.open-icon {
	background-color: grey;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	cursor: pointer;
	border-radius: 10px;
	width: 90px;
	height: 34px;
	position: relative;
	top: -60px;
	left: 10px;
}

.open-icon i {
	margin: 0px 0px 0px 10px;
	font-size: 30px;

}

.close-icon {
	cursor: pointer;
	background-color: darkgrey;
	width: 54px;
	border-radius: 10px;
	margin: 0px 0px 0px 10px;
	padding: 0px;
}

.close-icon h3 {
	margin: 10px 0px 0px 3px;
}

.script {
	font-size: 30px;
	margin: 0px 0px 0px 90%;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: -1;
}

@media only screen and (max-width: 500px) or (min-width:480px) {
	.open-icon {
		width: 100px;
		top: -40px;
		padding: 0px 0px 5px 0px;
	}
	
	.close-icon {
		width: 60px;
		padding: 0px 0px 0px 3px;
	}
	
	h1 {
		font-size: 20px;
	}
	
	.script {
		font-size: 20px;
	}
}
